footer {
  background-color: #2c2b2be2;
  height: 300px;
  margin-top: 50px; }

.indie-flower {
  font-family: "Indie Flower"; }

.kaushan-script {
  font-family: "Kaushan Script"; }

.libre-baskerville {
  font-family: "Libre Baskerville"; }

.rowdies {
  font-family: "Rowdies"; }

.shadows-into {
  font-family: "Shadows Into Light"; }

.msg {
  background-color: #fff;
  color: red;
  display: none;
  font-weight: 700;
  font-size: 20px;
  box-shadow: 0 0 5px 2px #0000001f;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 99; }

.margin-auto {
  display: block;
  margin: auto; }

.content {
  background-color: #e9ecef;
  border-radius: 6px;
  display: block;
  min-height: 300px;
  padding: 20px 10px; }

.sub-content {
  border: 1px solid #cccccc;
  box-shadow: 0px 0px 5px 1px #00000014;
  border-radius: 6px;
  margin: 20px;
  padding: 10px;
  position: relative; }

.title {
  font-size: 20px;
  font-weight: 600; }

.date {
  display: none; }

.breed-dog {
  font-size: 24px; }

.img-dog {
  max-width: 400px !important;
  width: 100%; }

.nome-dog {
  bottom: 10px;
  display: none;
  height: 50px;
  left: 0;
  position: absolute;
  padding: 0 18px;
  text-transform: uppercase;
  justify-content: center;
  width: 100%;
  z-index: 4; }
  .nome-dog span {
    background-color: #e9ecefd6;
    display: block;
    font-size: 24px;
    margin-top: 8px;
    max-width: 400px;
    width: 100%;
    z-index: 9; }

@media (max-width: 500px) {
  .display-3 {
    font-size: 4rem !important; } }
